body {background-image: url(../../bg.jpg);
	font-family: 'Teko', sans-serif;
	letter-spacing: 2px;}
p {font-family: 'Roboto Slab', serif;
	font-size: 15px;
	margin-top: -10px;}
.direction {float: left;
			background:;
			position: fixed;
			margin-top: -50px;}
ul {text-align: left;
	margin-top: 48px;
	margin-left: 14px;}
li {list-style: none;
	margin-bottom: 25px;}
.designs{opacity: 0.3;}
.back {color: rgb(50,50,50);
	text-align: left;
	margin-top: 58px;
	margin-left: 235px;
	text-decoration: underline;
	font-weight: 500;
	font-size: 40px;}
.logo {float: left;
	margin-top: 133px;
	margin-left: 55px;}
.content {margin-top: 60px;
		margin-left: 417px;
		background:;
		width: 1070px;}
.image1 {margin-left: 335px;}
.tittle {font-family: 'Roboto Slab', serif;
		color: rgb(50,50,50);
		text-align: center;
		font-weight: 500;
		font-size: 70px;
		margin-top: 25px;}
.firstline {text-align: center;}
.image2 {margin-top: 60px;}
.secondline {text-align: center;
			margin-top: 60px;}
.image3 {margin-top: 60px;}
.thirdline {text-align: center;
			margin-top: 60px;}
.image4 {margin-top: 60px;
		margin-bottom: 60px;}
