body {background-image: url(frame.jpg);
	background-repeat: no-repeat;
	font-family: 'Teko', sans-serif;
	letter-spacing: 2px;
	opacity: 1;}
ul {color: rgb(50,50,50);
	text-align: left;
	margin-top: 55px;
	margin-left: 14px;}
li {font-size: 40px;
	font-weight: 100;
	list-style: none;
	margin-bottom: 3px;}
.designs {font-weight: 500;
		text-decoration: underline; }
img {display: block;
	position: fixed;
	float: left;
	margin-top: 465px;
	margin-left: 55px;}

